<div class="bg">
  <div class="card">
    <h2 class="title">Editar Juego</h2>
    <!--BEGIN: TUS CAMBIOS AQUI-->
    <form [formGroup]="gameForm" (ngSubmit)="updateGames()">
      <div class="field">
        <label for="id">Id</label>
        <input id="id" type="text" formControlName="id" [disabled]="isEditMode" />
      </div>
      <div class="field">
        <label for="name">Nombre</label>
        <input id="name" type="text" formControlName="name"/>
      </div>
      <div class="field">
        <label for="description">Descripción</label>
        <textarea id="description" type="text" formControlName="description"></textarea>
      </div>
      <div class="actions">
        <button type="submit" class="btn-primary">Actualizar</button>
        <a href="/angular/senior/games" class="btn-secondary">Cancelar</a>
      </div>
    </form>
    <!--END: TUS CAMBIOS AQUI-->
  </div>
</div>
